In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('play_tennis.csv')
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
import math
def calculate_entropy(df,target,feature='None',value='None'):
    value_array,loop_var=df[target].unique(),len(df[target].unique())
    Entropy=0
    if feature=='None':
        for i in range(0,loop_var):
            prob = len(df[df[target]==value_array[i]])/len(df)
            if prob!=0:
                Entropy +=  (-prob * (math.log(prob,2)))
    else:
        df = df[df[feature]==value]
        for i in range(0,loop_var):
            val=len(df)
            if val==0:
                val=1
            prob = len(df[df[target]==value_array[i]])/val
            if prob!=0:
                Entropy += (-prob * (math.log(prob,2)))
            
    return Entropy

In [5]:
calculate_entropy(df,'play')

0.9402859586706309

In [6]:
df['outlook'].value_counts()

Sunny       5
Rain        5
Overcast    4
Name: outlook, dtype: int64

In [7]:
df[df['outlook']=='Sunny']

    day outlook  temp humidity    wind play
0    D1   Sunny   Hot     High    Weak   No
1    D2   Sunny   Hot     High  Strong   No
7    D8   Sunny  Mild     High    Weak   No
8    D9   Sunny  Cool   Normal    Weak  Yes
10  D11   Sunny  Mild   Normal  Strong  Yes

In [8]:
df[df['outlook']=='Overcast']

    day   outlook  temp humidity    wind play
2    D3  Overcast   Hot     High    Weak  Yes
6    D7  Overcast  Cool   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes

In [9]:
df[df['outlook']=='Rain']

    day outlook  temp humidity    wind play
3    D4    Rain  Mild     High    Weak  Yes
4    D5    Rain  Cool   Normal    Weak  Yes
5    D6    Rain  Cool   Normal  Strong   No
9   D10    Rain  Mild   Normal    Weak  Yes
13  D14    Rain  Mild     High  Strong   No

In [10]:
IG_Outlook = calculate_entropy(df,'play') - ((len(df[df['outlook']=='Sunny'])/len(df))*calculate_entropy(df,'play','outlook','Sunny')
                                          + (len(df[df['outlook']=='Overcast'])/len(df))*calculate_entropy(df,'play','outlook','Overcast')
                                          +(len(df[df['outlook']=='Rain'])/len(df))*calculate_entropy(df,'play','outlook','Rain'))

IG_Outlook

0.2467498197744391

In [11]:
df['temp'].value_counts()

Mild    6
Hot     4
Cool    4
Name: temp, dtype: int64

In [12]:
df[df['temp']=='Mild']

    day   outlook  temp humidity    wind play
3    D4      Rain  Mild     High    Weak  Yes
7    D8     Sunny  Mild     High    Weak   No
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [13]:
df[df['temp']=='Cool']

  day   outlook  temp humidity    wind play
4  D5      Rain  Cool   Normal    Weak  Yes
5  D6      Rain  Cool   Normal  Strong   No
6  D7  Overcast  Cool   Normal  Strong  Yes
8  D9     Sunny  Cool   Normal    Weak  Yes

In [14]:
df[df['temp']=='Hot']

    day   outlook temp humidity    wind play
0    D1     Sunny  Hot     High    Weak   No
1    D2     Sunny  Hot     High  Strong   No
2    D3  Overcast  Hot     High    Weak  Yes
12  D13  Overcast  Hot   Normal    Weak  Yes

In [15]:
IG_Temp = calculate_entropy(df,'play') - ((len(df[df['temp']=='Hot'])/len(df))*calculate_entropy(df,'play','temp','Hot')
                                          + (len(df[df['temp']=='Mild'])/len(df))*calculate_entropy(df,'play','temp','Mild')
                                          +(len(df[df['temp']=='Cool'])/len(df))*calculate_entropy(df,'play','temp','Cool'))

IG_Temp

0.029222565658954647

In [16]:
df['humidity'].value_counts()

High      7
Normal    7
Name: humidity, dtype: int64

In [17]:
df[df['humidity']=='High']

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
7    D8     Sunny  Mild     High    Weak   No
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [18]:
df[df['humidity']=='Normal']

    day   outlook  temp humidity    wind play
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes

In [19]:
IG_Humidity = calculate_entropy(df,'play') - ((len(df[df['humidity']=='High'])/len(df))*calculate_entropy(df,'play','humidity','High')
                                          + (len(df[df['humidity']=='Normal'])/len(df))*calculate_entropy(df,'play','humidity','Normal')
                                          )

IG_Humidity

0.15183550136234136

In [20]:
df['wind'].value_counts()

Weak      8
Strong    6
Name: wind, dtype: int64

In [21]:
df[df['wind']=='Weak']

    day   outlook  temp humidity  wind play
0    D1     Sunny   Hot     High  Weak   No
2    D3  Overcast   Hot     High  Weak  Yes
3    D4      Rain  Mild     High  Weak  Yes
4    D5      Rain  Cool   Normal  Weak  Yes
7    D8     Sunny  Mild     High  Weak   No
8    D9     Sunny  Cool   Normal  Weak  Yes
9   D10      Rain  Mild   Normal  Weak  Yes
12  D13  Overcast   Hot   Normal  Weak  Yes

In [22]:
df[df['wind']=='Strong']

    day   outlook  temp humidity    wind play
1    D2     Sunny   Hot     High  Strong   No
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [23]:
IG_Wind = calculate_entropy(df,'play') - ((len(df[df['wind']=='Weak'])/len(df))*calculate_entropy(df,'play','wind','Weak')
                                          + (len(df[df['wind']=='Strong'])/len(df))*calculate_entropy(df,'play','wind','Strong')
                                          )

IG_Wind

0.04812703040826927

In [24]:
print(IG_Outlook,IG_Temp,IG_Humidity,IG_Wind)

0.2467498197744391 0.029222565658954647 0.15183550136234136 0.04812703040826927

In [25]:
df1 = df[df['outlook']=='Sunny']
df1

    day outlook  temp humidity    wind play
0    D1   Sunny   Hot     High    Weak   No
1    D2   Sunny   Hot     High  Strong   No
7    D8   Sunny  Mild     High    Weak   No
8    D9   Sunny  Cool   Normal    Weak  Yes
10  D11   Sunny  Mild   Normal  Strong  Yes

In [26]:
IG_Outlook = calculate_entropy(df1,'play') - ((len(df1[df1['outlook']=='Sunny'])/len(df1))*calculate_entropy(df1,'play','outlook','Sunny')
                                          + (len(df1[df1['outlook']=='Overcast'])/len(df1))*calculate_entropy(df1,'play','outlook','Overcast')
                                          +(len(df1[df1['outlook']=='Rain'])/len(df1))*calculate_entropy(df1,'play','outlook','Rain'))

IG_Outlook

0.0

In [27]:
IG_Temp = calculate_entropy(df1,'play') - ((len(df1[df1['temp']=='Hot'])/len(df1))*calculate_entropy(df1,'play','temp','Hot')
                                          + (len(df1[df1['temp']=='Mild'])/len(df1))*calculate_entropy(df1,'play','temp','Mild')
                                          +(len(df1[df1['temp']=='Cool'])/len(df1))*calculate_entropy(df1,'play','temp','Cool'))

IG_Temp

0.5709505944546686

In [28]:
IG_Humidity = calculate_entropy(df1,'play') - ((len(df1[df1['humidity']=='High'])/len(df1))*calculate_entropy(df1,'play','humidity','High')
                                          + (len(df1[df1['humidity']=='Normal'])/len(df1))*calculate_entropy(df1,'play','humidity','Normal')
                                          )

IG_Humidity

0.9709505944546686

In [29]:
IG_Wind = calculate_entropy(df1,'play') - ((len(df1[df1['wind']=='Weak'])/len(df1))*calculate_entropy(df1,'play','wind','Weak')
                                          + (len(df1[df1['wind']=='Strong'])/len(df1))*calculate_entropy(df1,'play','wind','Strong')
                                          )

IG_Wind

0.01997309402197489

In [30]:
df3 = df1[df1['humidity']=='High']
df3

  day outlook  temp humidity    wind play
0  D1   Sunny   Hot     High    Weak   No
1  D2   Sunny   Hot     High  Strong   No
7  D8   Sunny  Mild     High    Weak   No

In [31]:
df4 = df1[df1['humidity']=='Normal']
df4

    day outlook  temp humidity    wind play
8    D9   Sunny  Cool   Normal    Weak  Yes
10  D11   Sunny  Mild   Normal  Strong  Yes

In [32]:
df2 = df[df['outlook']=='Rain']
df2

    day outlook  temp humidity    wind play
3    D4    Rain  Mild     High    Weak  Yes
4    D5    Rain  Cool   Normal    Weak  Yes
5    D6    Rain  Cool   Normal  Strong   No
9   D10    Rain  Mild   Normal    Weak  Yes
13  D14    Rain  Mild     High  Strong   No

In [33]:
IG_Temp = calculate_entropy(df2,'play') - ((len(df2[df2['temp']=='Hot'])/len(df2))*calculate_entropy(df2,'play','temp','Hot')
                                          + (len(df2[df2['temp']=='Mild'])/len(df2))*calculate_entropy(df2,'play','temp','Mild')
                                          +(len(df2[df2['temp']=='Cool'])/len(df2))*calculate_entropy(df2,'play','temp','Cool'))

IG_Temp

0.01997309402197489

In [34]:
IG_Wind = calculate_entropy(df2,'play') - ((len(df2[df2['wind']=='Weak'])/len(df2))*calculate_entropy(df2,'play','wind','Weak')
                                          + (len(df2[df2['wind']=='Strong'])/len(df2))*calculate_entropy(df2,'play','wind','Strong')
                                          )

IG_Wind

0.9709505944546686

In [35]:
IG_Humidity = calculate_entropy(df2,'play') - ((len(df2[df2['humidity']=='High'])/len(df2))*calculate_entropy(df2,'play','humidity','High')
                                          + (len(df2[df2['humidity']=='Normal'])/len(df2))*calculate_entropy(df2,'play','humidity','Normal')
                                          )

IG_Humidity

0.01997309402197489

In [36]:
df5 = df2[df2['wind']=='Weak']
df5

   day outlook  temp humidity  wind play
3   D4    Rain  Mild     High  Weak  Yes
4   D5    Rain  Cool   Normal  Weak  Yes
9  D10    Rain  Mild   Normal  Weak  Yes

In [37]:
df6 = df2[df2['wind']=='Strong']
df6

    day outlook  temp humidity    wind play
5    D6    Rain  Cool   Normal  Strong   No
13  D14    Rain  Mild     High  Strong   No